a {
        text-decoration: none !important
}

.custom-card {
        width: 100%;
        border-radius: 15px;
        margin: auto;

}

.custom-card .card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
}

.custom-card .card-body p {
        margin: 0;
}

.user-info-card {
        margin: auto;
}

.user-wrapper {
        margin: 50px 0;
}

.user-card {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
}

.clock {
        width: 140px;
        background-color: black;
        color: #fff;
        font-size: 24px;
        text-align: center;
        letter-spacing: 3px;
        border-radius: 5px;
}

.card {
        height: calc(100% - 24px) !important;
        margin-bottom: 24px;
}

.header-section {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        flex-wrap: wrap;
}

.timer-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
}

.custom-dropdown {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
        color: #333;
        font-size: 16px;
        outline: none;
        cursor: pointer;
        transition: border-color 0.3s;
}

.custom-dropdown:hover {
        border-color: #007bff;
}

.custom-dropdown:focus {
        border-color: #007bff;
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.custom-dropdown option {
        background-color: #fff;
        color: #333;
}

.custom-dropdown option:hover {
        background-color: #007bff;
        color: #fff;
}